* {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
  background: var(--020-a-18, #020a18);
  color: white;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.headerImgContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.headerImgContainer h3 {
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 22.545px;
  font-weight: 600;
}

.headerLinkContainer a {
  text-decoration: none;
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 600;
  padding-left: 40px;
}
#header button {
  border-radius: 5px;
  display: inline-flex;
  height: 47px;
  padding: 15px 30px 27px 30px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: var(--3-a-68-b-8, #3a68b8);
  border: none;
}
#hero {
  display: flex;
  justify-content: space-around;
  padding-top: 220px;
}
#hero h4 {
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
#hero h1 {
  color: var(--ffffff, #fff);
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
}
#hero p {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  padding: 40px 0;
}
.button {
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  opacity: 0.7;
  gap: 10px;
  color: var(--ffffff, #fff);
  border: none;
  padding-left: 25px;
}
#heroSecond {
  padding-top: 250px;
  display: flex;
  justify-content: space-around;
}
.firstIcon {
  position: absolute;
  z-index: 9;
}
.containerIcons h3 {
  color: #fff;
}
.thirtIcon {
  position: absolute;
  z-index: 20;
}
.containerIcons {
  display: flex;
  align-items: center;
}
.IpsumContainer {
  display: flex;
  align-items: center;
}
.IpsumContainer img:nth-child(7) {
  align-self: start;
}
#heroThirt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
#heroThirt h1 {
  color: var(--ffffff, #fff);
  font-size: 40px;
  font-weight: 700;
  line-height: 130%; /* 52px */
}

#heroThirt p {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  padding: 55px 0;
}
.heroThirt {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fourthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  width: 412.963px;
  height: 478px;
  background-color: #1d232d;
}
.fourthContainer img {
  background-color: #1d232d;
}
.fourthContainer h3 {
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%; /* 31.25px */
  background-color: #1d232d;
}
#heroFourth {
  padding-top: 254px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 129px;
}
.fourthContainer p {
  background-color: #1d232d;

  color: var(--ffffff, #ffffff);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}
#heroFifth {
  display: flex;
  justify-content: center;
  gap: 44px;
  align-items: center;
  padding-bottom: 97px;
}
#heroFifth h3 {
  color: var(--ffffff, #fff);
  font-size: 40px;
  font-weight: 700;
  line-height: 130%; /* 52px */
  padding-bottom: 36px;
}
#heroFifth p {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}
#footer {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-bottom: 60px;
}
.footerContainer {
  display: flex;
  flex-direction: column;
}
.footerNav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footerNav a {
  text-decoration: none;
  color: var(--ffffff, #bdbbbb);
  font-size: 14px;
  font-weight: 450;
}

.color {
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 15.963px;
  font-weight: 600;
}
.footerNav p {
  color: var(--ffffff, #dfd5d5);
  font-size: 14px;
  font-weight: 450;
}
.firsBlockfooterNav a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.footerBlockImg {
  width: 44.976px;
  height: 56.318px;
  flex-shrink: 0;
}
